body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

#root {
  width: 100%;
  height: 100%;
  flex: 1;
}


.dark {
  background-color: #1f1f23;
  color: #ffffff;
}

.light {
  background-color: #fff;
  color: #000000;
}

.light label input {
  color: #000;
}
.dark label {
  color: white;
}

.dark header {
  background-color: #173054;
  color: #fff;
}
.dark .wave .shape-fill {
  fill: #173054;
}

.light .wave .shape-fill {
  fill: #007bff;
}
.wave {
  position: absolute;
  top: 9%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 198px;
}


.wave .shape-fill {
  fill: #173054;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #333; /* Adjust link color as needed */
  margin-right: 20px;
  font-weight: bold;
}

.darkBtn {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-style: none;
}

.home-container {
  width: 100%; 
  margin: 0 auto; 
  text-align: center;
  position: relative;
  overflow: hidden;
}
.home-container h2 {
  font-size: 40px;
  padding: 40px;
}
.home-container img {
  width: 50%;
}
.home-container button {
  background-color: #173054;
  margin: 10px;
}
.home-container a {
  color: #fff;
}

.slick-track {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.home-container img {
  height: 500px;
  width: 100%;
}

.slideshow-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f8f8;
  color: rgb(0, 0, 0);
  border-bottom: 0.5px solid #000;
  height: 3.5rem;
  width: 100%
}

.slideshow-header ul {
  list-style: none; 
  display: flex;
  justify-content: center;
  padding: 0;
}

.slideshow-header li {
  margin: 0 10px; 
  display: inline-block;
  position: relative;
}

.slideshow-header li:not(:last-child):after {
  content: "|"; 
  margin-left: 10px;
  color: #333; 
  height: 100%
}


nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.darkThemeIcon img {
  height: auto;
  width: 25px;
  border-style: none;
}

.darkThemeIcon:hover {
  cursor: pointer;
}


.cart {
  display: flex;
  align-items: center;
  position: relative;
}

.cart:hover {
  cursor: pointer;
}

.cart-icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.cart-icon img {
  height: auto;
  width:  65px;
}

.dark .cart-icon img {
  color: white;
}

#cart-inventory {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff5733;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 9px;
}

.login {
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.account {
  display: flex;
  align-items: center;
  color: black; 
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}

.account:hover {
  text-decoration: underline; 
}

.login-page {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page label {
  margin-bottom: 8px;
  font-weight: bold;
}

.login-page input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-page button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-page button:hover {
  background-color: #0056b3;
}

.login-page p {
  margin-top: 16px;
  font-size: 14px;
}

.login-page a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-page a:hover {
  text-decoration: underline;
}

.signup-page {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-page h2 {
  text-align: center;
    color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.signup-page {
  width: 50%;
}

.signup-page form {
  padding: 2rem;
}

.signup-page input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-account {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-account:hover {
  background-color: #0056b3;
}

.signup-page p {
  margin-top: 16px;
  font-size: 14px;
}

.signup-page a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-page a:hover {
  text-decoration: underline;
}

.password-input-container {
  position: relative;
}

.password-input {
  padding-right: 30px; 
}

.toggle-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
}

.password-icon {
  position: relative;
  width: 20px;
  height: auto;
  margin-right: 5px;
  background-color: none;
}

.errorPage {
  text-align: center;
  padding: 20px;
}

.banner {
  position: relative;
  text-align: center;
  color: #fff;
}

.banner img {
  width: 100%;
  max-height: 500px;
  height: auto;
}


.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.add-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.product-amount {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}




.footer-container {
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer-section {
  max-width: 250px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #0066cc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #0066cc; 
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.cart-table th {
  background-color: #f2f2f2;
}

.cart-item {
  border-bottom: 1px solid #ddd;
}

.product-cell {
  display: flex;
  align-items: center;
}

.item-image {
  max-width: 60px;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.cart-count {
  font-weight: light;
  color: grey;
}

.price-cell, .quantity-cell, .total-cell {
  text-align: center;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.empty-cart-image {
  max-width: 200px;
  margin-bottom: 20px;
}

.empty-cart p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.quantity-cell {
  display: flex;
  align-items: center;
}

.quantity-controls {
  display: flex;
  justify-content: center;

}

.quantity-controls button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.quantity-controls p {
  margin: 0 8px;
}

.product-name {
  text-decoration: none;
}

.delete-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline; 
  padding: 0; 
  margin: 0; 
}

.delete-btn:hover {
  text-decoration: none; 
  color: #cc0000;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.checkout p {
  font-weight: bold;
}

.checkout a {
  text-decoration: none;
  color: #3498db;
  margin-right: 10px;
}

.checkout button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.checkout button:hover {
  background-color: #27ae60;
}

.disclaimer {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}

.social-icons {
  display: flex;
}

.social-icons a {
  font-size: 1.5rem;
  margin-right: 10px;
}

.disclaimer {
  text-align: center;
  width: 100%;
}

.product-detail-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-container .col-2 img {
  padding: 0;
  width: 250px;
  height: auto;
}

.product-detail-container .col-2 {
  padding: 20px;
}

.product-detail-container h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

@keyframes slideIn {
  to {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }
  
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav {
    margin-top: 10px;
  }
  .home-container {
    max-width: 100%;
  }
  .slideshow-header {
    max-width: 100%;
  }
    
  .footer-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 278px;
  }

  .footer-section {
    max-width: 100%;
    flex-direction: row;
  }
}

