.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Set the background to transparent */
  color: black; /* Adjust the text color as needed */
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 auto; /* Center the logo horizontally */
}

.logo img {
  width: 50px; /* Adjust the logo size as needed */
  height: auto;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black; /* Adjust the text color as needed */
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  text-decoration: none;
  color: #fff; /* Adjust the text color as needed */
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Adjust the background color as needed */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333; /* Adjust the text color as needed */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.darkBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.darkThemeIcon img {
  width: 20px; /* Adjust the icon size as needed */
  height: auto;
}

.account {
  text-decoration: none;
  color: #fff; /* Adjust the text color as needed */
  font-weight: bold;
}

.cart-link {
  text-decoration: none;
  color: #fff; /* Adjust the text color as needed */
}

.cart {
  display: flex;
  align-items: center;
}

.cart-icon img {
  width: 30px; 
  height: auto;
  margin-right: 5px;
}

.cart-inventory {
  font-weight: bold;
}
