
.product-list {
  margin: 0;
  padding: 20px;
}

.product-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: transparent;
  border: none;
  color: #3498db;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 5px;
}

.product-amount {
  font-size: 1rem;
  margin: 0 10px;
  background-color: #3498db;
  border-radius: 50%;
}


.add-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.product-name-link p {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.product-name-link p:hover {
  text-decoration: underline;
}
